@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "./base/mixins";
@import "./base/forms/forms";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@font-face {
	font-family: "Univa Nova";
	src: url("../fonts/UnivaNova-Regular.eot");
	src:
		url("../fonts/UnivaNova-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/UnivaNova-Regular.woff2") format("woff2"),
		url("../fonts/UnivaNova-Regular.woff") format("woff"),
		url("../fonts/UnivaNova-Regular.svg#UnivaNova-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Univa Nova";
	src: url("../fonts/UnivaNova-Medium.eot");
	src:
		url("../fonts/UnivaNova-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/UnivaNova-Medium.woff2") format("woff2"),
		url("../fonts/UnivaNova-Medium.woff") format("woff"),
		url("../fonts/UnivaNova-Medium.svg#UnivaNova-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Univa Nova";
	src: url("../fonts/UnivaNova-SemiBold.eot");
	src:
		url("../fonts/UnivaNova-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/UnivaNova-SemiBold.woff2") format("woff2"),
		url("../fonts/UnivaNova-SemiBold.woff") format("woff"),
		url("../fonts/UnivaNova-SemiBold.svg#UnivaNova-SemiBold") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Univa Nova";
	src: url("../fonts/UnivaNova-Bold.eot");
	src:
		url("../fonts/UnivaNova-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/UnivaNova-Bold.woff2") format("woff2"),
		url("../fonts/UnivaNova-Bold.woff") format("woff"),
		url("../fonts/UnivaNova-Bold.svg#UnivaNova-Bold") format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Univa Nova";
	src: url("../fonts/UnivaNova-Heavy.eot");
	src:
		url("../fonts/UnivaNova-Heavy.eot?#iefix") format("embedded-opentype"),
		url("../fonts/UnivaNova-Heavy.woff2") format("woff2"),
		url("../fonts/UnivaNova-Heavy.woff") format("woff"),
		url("../fonts/UnivaNova-Heavy.svg#UnivaNova-Heavy") format("svg");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Univa Nova";
$fontSize: toRem(20); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #fff;
$backgroundColor: #376e6f;
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1500;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "/src/scss/base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

@import "home.scss";

[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg--contain"] {
	img {
		object-fit: contain;
	}
}

%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
